/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: green;
}

.make {
    text-align: end;
}

.jtxs {
    width: 50%;
    width: 100%;
}

video {
    width: 100%;
}